@import url(//fonts.googleapis.com/css?family=Lato:300,400,500)

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Lato', sans-serif

h1, h2, h3, h4, label
  padding: .1em
  margin: .4em
  text-shadow: black 1px 1px

h1
  font-size: 2em

.container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-content: flex-start
  align-items: flex-start
  background-image: url('../images/skiing.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  background-position: center
  overflow: hidden

.div
  width: 300px
  flex-grow: 0
  flex-shrink: 0
  flex-basis: 0

.header
  flex-grow: 0
  flex-shrink: 1
  flex-basis: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-content: center
  align-items: baseline
  min-height: 8em
  padding: .5em
  background-color: rgba(5, 102, 141, .6)
  color: white

.main
  flex-grow: 1
  flex-shrink: 0
  flex-basis: 80%
  order: 2
  color: black
  padding-bottom: 1em
  margin: 0 3% 0 2%

.sidebar, .mobile-select-bar
  flex-grow: 1
  flex-shrink: 0
  flex-basis: 15%
  background: rgba(0, 0, 0, .1)
  color: white
  display: flex
  flex-direction: column
  flex-wrap: wrap
  padding: 1em 0 1em 1em

.main, .sidebar
  padding-bottom: 1000em
  margin-bottom: -1000em

.main-header
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-items: baseline
  color: white
  background-color: rgba(0, 0, 0, .2)
  margin-top: 2em

.main-post:last-child
  margin-bottom: 4em

.post
  line-height: 1.5em
  padding: 2em
  background-color: white
  border-radius: 5px

.sidebar h3
  padding: .25em

.label
  color: white
  margin: .25em

.button li, .menu
  display: block
  margin: .5em
  padding: .25em
  font-size: 1.25em
  color: white
  background-color: rgba(5, 102, 141, .8)

li
  list-style: none
  padding: .25em
  width: 75%
  text-shadow: black 1px 1px

li:hover, button:hover, .clickable:hover
  background-color: #02C39A
  text-decoration: underline

.sidebar li:last-child
  margin-bottom: 2em

.mobile-select-bar
  padding: 1em

.menu-btn
  font-size: 1.25

footer
  width: 100%
  min-height: 4em
  background-color: #00A896
  text-align: center
  padding: 1em

@media (min-width: 672px)
  .mobile-search
    display: none

  .menu
    display: none

@media (max-width: 672px)
  .sidebar
    margin-bottom: 0
    padding-bottom: 1em

  .sidebar li:last-child
    margin-bottom: .5em

  .std-search
    display: none

  a:hover
    background-color: #02C39A

  .mobile-search
    height: auto
    display: flex
    flex-direction: row
    overflow: visible

  .monthMenu, .tagMenu, .menu-items
    display: none

  .monthMenu li
    // border: 2px, solid, rgba(100, 100, 100, 1)
