// $bg-img: url('../images/skiing.png')

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,500)

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Lato', sans-serif
  background-image: url('../images/skiing.png')
  // $bg-img

h1, h2, h3, h4
  padding: .5em

.header
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-items: baseline
  background-color: #05668D
  color: white

.main-header
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-items: baseline

.content
  display: flex
  flex-direction: row-reverse
  flex-wrap: wrap

.main
  background-color: white
  color: black
  width: 80%
  height: 40em

.main p
  padding: 1em

.sidebar
  background-color: #028090
  color: white
  width: 20%

.sidebar h3
  padding: .5em

li
  list-style: none
  padding: .25em

footer
  background-color: #00A896
  text-align: center
  padding: 1em
